In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.neural_network import MLPClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, mean_absolute_error,r2_score,mean_squared_error
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from seaborn import lineplot
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn import svm
from sklearn.svm import SVC

In [2]:
personal_df = pd.read_csv("russia_losses_personnel.csv")

In [3]:
equpiment_loses_df = pd.read_csv("russia_losses_equipment.csv")

In [4]:
equpiment_loses_correction_df = pd.read_csv("russia_losses_equipment_correction.csv")

In [5]:
personal_df.head(20)

          date  day  personnel personnel*  POW
0   2024-06-09  837     518560      about  NaN
1   2024-06-08  836     517290      about  NaN
2   2024-06-07  835     516080      about  NaN
3   2024-06-06  834     515000      about  NaN
4   2024-06-05  833     513700      about  NaN
5   2024-06-04  832     512420      about  NaN
6   2024-06-03  831     511130      about  NaN
7   2024-06-02  830     509860      about  NaN
8   2024-06-01  829     508780      about  NaN
9   2024-05-31  828     507650      about  NaN
10  2024-05-30  827     506260      about  NaN
11  2024-05-29  826     505100      about  NaN
12  2024-05-28  825     503800      about  NaN
13  2024-05-27  824     502340      about  NaN
14  2024-05-26  823     501190      about  NaN
15  2024-05-25  822     500080      about  NaN
16  2024-05-24  821     498940      about  NaN
17  2024-05-23  820     497700      about  NaN
18  2024-05-22  819     496370      about  NaN
19  2024-05-21  818     495070      about  NaN

In [6]:
equpiment_loses_df.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles,submarines
0,2024-06-09,837,357,326,7869,15131,13593,1097,NaN,NaN,10982,28,836,2253.0,NaN,NaN,18562.0,2277.0,1.0
1,2024-06-08,836,357,326,7843,15105,13533,1095,NaN,NaN,10945,28,834,2248.0,NaN,NaN,18484.0,2277.0,1.0
2,2024-06-07,835,357,326,7834,15096,13497,1095,NaN,NaN,10886,28,833,2238.0,NaN,NaN,18416.0,2270.0,1.0
3,2024-06-06,834,357,326,7828,15076,13433,1095,NaN,NaN,10846,27,831,2230.0,NaN,NaN,18360.0,2270.0,1.0
4,2024-06-05,833,357,326,7806,15036,13385,1092,NaN,NaN,10805,27,830,2223.0,NaN,NaN,18297.0,2270.0,1.0

Vad ska ta borts ifrån personal datan: 
Date, personnel* och POW bör tas bort. Den först visar bara datumen fångars värde har inte uppdaterats på jättelänge och * tas bort för att den säger ingenting.

In [7]:
equpiment_loses_df.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles,submarines
0,2024-06-09,837,357,326,7869,15131,13593,1097,NaN,NaN,10982,28,836,2253.0,NaN,NaN,18562.0,2277.0,1.0
1,2024-06-08,836,357,326,7843,15105,13533,1095,NaN,NaN,10945,28,834,2248.0,NaN,NaN,18484.0,2277.0,1.0
2,2024-06-07,835,357,326,7834,15096,13497,1095,NaN,NaN,10886,28,833,2238.0,NaN,NaN,18416.0,2270.0,1.0
3,2024-06-06,834,357,326,7828,15076,13433,1095,NaN,NaN,10846,27,831,2230.0,NaN,NaN,18360.0,2270.0,1.0
4,2024-06-05,833,357,326,7806,15036,13385,1092,NaN,NaN,10805,27,830,2223.0,NaN,NaN,18297.0,2270.0,1.0

In [8]:
personal_df.shape

(836, 5)

In [ ]:
equpiment_loses_df.shape

In [ ]:
personal_df.nunique()

In [ ]:
equpiment_loses_correction_df.nunique()

In [ ]:
personal_df.dtypes

In [ ]:
equpiment_loses_df.dtypes

In [ ]:
attribute_counts = personal_df['personnel*'].value_counts()
print (attribute_counts)

In [ ]:
null_values =  personal_df.isnull()
null_true = null_values.sum().sum()
null_false = null_values.size - null_true
list_of_null = f"{null_true} True and {null_false} False"
print (list_of_null)

In [ ]:
lineplot(x="day", y= "personnel", data = personal_df)
plt.show()

In [ ]:
lineplot(x="day", y= "tank", data = equpiment_loses_df)
plt.show()

lineplot(x="day", y= "APC", data = equpiment_loses_df)
plt.show()

Måsta ta bort vissa av kolumerna som finns. De tillför inget till arbetet.

# Remove columns that are not needed

In [ ]:
equpiment_loses_df.nunique()

In [ ]:
personal_df.drop('personnel*', axis=1, inplace=True)

In [ ]:
personal_df.head()

In [ ]:
personal_df.drop('POW', axis=1, inplace=True)

In [ ]:
equpiment_loses_df.drop('greatest losses direction', axis=1, inplace=True)

In [ ]:
equpiment_loses_df.dtypes

In [ ]:
equpiment_loses_df["submarines"].fillna(0, inplace=True)
equpiment_loses_df["submarines"].replace([np.inf, -np.inf], 0, inplace=True)

In [ ]:
equpiment_loses_df["submarines"]= equpiment_loses_df["submarines"].astype('int64')

In [ ]:
equpiment_loses_df.drop('military auto', axis=1, inplace=True)
equpiment_loses_df.drop('fuel tank', axis=1, inplace=True)
equpiment_loses_df.drop('mobile SRBM system', axis=1, inplace=True)

In [ ]:
equpiment_loses_df["vehicles and fuel tanks"].fillna(0, inplace=True)
equpiment_loses_df["vehicles and fuel tanks"].replace([np.inf, -np.inf], 0, inplace=True)

In [ ]:
equpiment_loses_df["vehicles and fuel tanks"]= equpiment_loses_df["vehicles and fuel tanks"].astype('int64')

In [ ]:
equpiment_loses_df["cruise missiles"].fillna(0, inplace=True)
equpiment_loses_df["cruise missiles"].replace([np.inf, -np.inf], 0, inplace=True)

In [ ]:
equpiment_loses_df["cruise missiles"]= equpiment_loses_df["cruise missiles"].astype('int64')

In [ ]:
equpiment_loses_df["special equipment"].fillna(0, inplace=True)
equpiment_loses_df["special equipment"].replace([np.inf, -np.inf], 0, inplace=True)
equpiment_loses_df["special equipment"]= equpiment_loses_df["special equipment"].astype('int64')

In [ ]:
equpiment_loses_df.rename(columns={"day": "combat_day"})

In [ ]:
equpiment_loses_df['date'] = pd.to_datetime(equpiment_loses_df['date'])
equpiment_loses_df['year'] = equpiment_loses_df['date'].dt.year
equpiment_loses_df['month'] = equpiment_loses_df['date'].dt.month
equpiment_loses_df['combat_date'] = equpiment_loses_df['date'].dt.day

In [ ]:
equpiment_loses_df.drop(columns=['date'], inplace=True)
equpiment_loses_df.rename(columns={'day': 'combat_day'}, inplace=True)
equpiment_loses_df.rename(columns={'combat_date': 'day'}, inplace=True)

In [ ]:
personal_df['date'] = pd.to_datetime(personal_df['date'])

In [ ]:
personal_df['year'] = personal_df['date'].dt.year
personal_df['month'] = personal_df['date'].dt.month
personal_df['combat_date'] = personal_df['date'].dt.day

In [ ]:
personal_df.drop(columns=['date'], inplace=True)

In [ ]:
personal_df.rename(columns={'day': 'combat_day'}, inplace=True)

In [ ]:
personal_df.rename(columns={'combat_date': 'day'}, inplace=True)

In [ ]:
merged_war_df = pd.merge(personal_df,equpiment_loses_df, on =['combat_day',"year","day","month"])

In [ ]:
merged_war_df.head()

In [ ]:
merged_war_df.columns

In [ ]:
merged_war_df.nunique()

In [ ]:
merged_war_df[['personnel','tank','APC','field artillery', 'aircraft','special equipment', 'anti-aircraft warfare' ]].hist(bins= 15,
figsize=(12,6),alpha = 0.6, grid=False, rwidth= 0.8)
plt.show()

In [ ]:
sns.histplot(data=merged_war_df, x='APC', kde=True)

In [ ]:
sns.histplot(data=merged_war_df, x='personnel', kde=True)

In [ ]:
plot = plt.figure(figsize=(5,5))
sns.barplot(x='year', y= 'personnel', data = merged_war_df)

In [ ]:
specific_row = merged_war_df.iloc[450]
print(specific_row)

In [ ]:
personal_df.head()

In [ ]:
y = merged_war_df['personnel']
X = merged_war_df.drop(columns=['personnel'])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(y.shape, y_train.shape, y_test.shape)

In [ ]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)
print (X.shape)

In [ ]:
test_model = MLPClassifier(hidden_layer_sizes=(20,20,20), learning_rate='constant', learning_rate_init=0.01, max_iter=200, random_state=42)

In [ ]:
%%time
test_model.fit(X_train,y_train)

In [ ]:
predictions_1 = test_model.predict(X_test)

In [ ]:
accuracy_score(y_test,predictions_1)

In [ ]:
predictions_1 = test_model.predict(X_test)
ame_3 = mean_absolute_error(y_test,predictions_1)
print("Absolute Mean Error:", ame_3)

In [ ]:
neural_df = pd.DataFrame (data= {'real values': y_test,
                              'predicted  vaules': predictions_1})
neural_df['difference'] = neural_df['predicted  vaules'] - neural_df['real values']
neural_df

In [ ]:
neural_df.mean()

In [ ]:
neural_df.median()

In [ ]:
forest_model = RandomForestRegressor(n_estimators=100, criterion= 'squared_error')

In [ ]:
forest_model.fit(X_train,y_train)

In [ ]:
forest_model.score(X_test,y_test)

In [ ]:
y_pred_2 = forest_model.predict(X_test)
ame_2 = mean_absolute_error(y_test,y_pred_2)
print("Absolute Mean Error:", ame_2)

In [ ]:
forest_df = pd.DataFrame (data= {'real values': y_test,
                              'predicted  vaules': y_pred_2})
forest_df['difference'] = forest_df['predicted  vaules'] - forest_df['real values']
forest_df

In [ ]:
forest_df.median()

In [ ]:
forest_df.mean()

In [ ]:
forest_df.sort_values(by=["real values"], ascending=False)

In [ ]:
r2_score(y_pred_2,y_test)

In [ ]:
linear_model = LinearRegression()

In [ ]:
linear_model.fit(X_train,y_train)

In [ ]:
linear_model.score(X_test,y_test)

In [ ]:
y_pred = linear_model.predict(X_test)

In [ ]:
print(y_pred.shape)

In [ ]:
print(f'X_test shape: {X_test.shape}')
print(f'y_test shape: {y_test.shape}')
print(f'y_pred shape: {y_pred.shape}')

In [ ]:
linear_model.coef_

In [ ]:
linear_model.intercept_

In [ ]:
mse = mean_squared_error(y_test,y_pred)
print ("mean squared error",mse)

In [ ]:
ame = mean_absolute_error(y_test, y_pred)
print("Absolute Mean Error:", ame)

In [ ]:
linear_df = pd.DataFrame (data= {'real values': y_test,
                              'predicted  vaules': y_pred})
linear_df['difference'] = linear_df['predicted  vaules'] - linear_df['real values']
linear_df

In [ ]:
linear_df.mean()

In [ ]:
linear_df.median()

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(range(len(y_test)), y_test, color='blue', label='Actual')
plt.scatter(range(len(y_pred)), y_pred, color='red', label='Predicted', alpha=0.5)
plt.xlabel('Index')
plt.ylabel('Personnel')
plt.title('Actual vs Predicted Values')
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(X_test['combat_day'], y_test, color='blue', label='Actual')
plt.scatter(X_test['combat_day'], y_pred, color='red', label='Predicted', alpha=0.5)
plt.xlabel('Combat Day')
plt.ylabel('Personnel')
plt.title('Regression Line for Combat Day')
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.residplot(x=y_test, y=y_test - y_pred, lowess=True, color='purple')
plt.xlabel('Actual Personnel')
plt.ylabel('Residuals')
plt.title('Residuals vs. Actual Values')
plt.show()

In [ ]:
r2_score(y_pred,y_test)

In [ ]:
linear_df.sort_values(by=["real values"], ascending=False)

In [ ]:
linear_df.head(10)

In [ ]:
len(y_pred)